In [7]:
!pip install scispacy
!pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz

Keyring is skipped due to an exception: 'keyring.backends'
Collecting https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz
  Downloading https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz (532.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 532.3/532.3 MB 1.6 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: spacy<3.5.0,>=3.4.1 in /opt/conda/lib/python3.7/site-packages (from en-core-sci-lg==0.5.1) (3.4.4)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (3.3.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.28.1)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (0.7.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (3.0.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.0.7)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.4.5)
Requirement already satisfied: pathy>=0.3.5 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (0.10.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (1.10.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (1.0.9)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (3.1.2)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (0.10.1)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (1.21.6)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (4.1.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (4.42.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.0.8)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (20.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (59.3.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (3.0.11)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (1.0.4)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (8.1.6)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /opt/conda/lib/python3.7/site-packages (from spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (6.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (3.11.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.4.6)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (1.14.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2022.9.24)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /opt/conda/lib/python3.7/site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /opt/conda/lib/python3.7/site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/conda/lib/python3.7/site-packages (from typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (2.1.1)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from click<9.0.0,>=7.1.1->typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.1->en-core-sci-lg==0.5.1) (5.1.0)
Building wheels for collected packages: en-core-sci-lg
  Building wheel for en-core-sci-lg (setup.py) ... done
  Created wheel for en-core-sci-lg: filename=en_core_sci_lg-0.5.1-py3-none-any.whl size=532571830 sha256=059c80149e376de51ce709fa2cee647d9b7d20e8670e06849787d04ea1bfd7dd
  Stored in directory: /root/.cache/pip/wheels/e7/2f/b9/43b24c872b3a382fdf12d75ed4c3be623885d6ff65df495b21
Successfully built en-core-sci-lg
Installing collected packages: en-core-sci-lg
Successfully installed en-core-sci-lg-0.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
import spacy

from scispacy.abbreviation import AbbreviationDetector

nlp = spacy.load("en_core_sci_lg")

# Add the abbreviation pipe to the spacy pipeline.
nlp.add_pipe("abbreviation_detector")

#doc = nlp("¡Tengo tanta fiebre y tanto moco! ¿Quizás es el dengue dando vueltas otra vez?")

doc = nlp("Spinal and bulbar muscular atrophy (SBMA) is an \
           inherited motor neuron disease caused by the expansion \
           of a polyglutamine tract within the androgen receptor (AR). \
           SBMA can be caused by this easily.")

print("Abbreviation", "\t", "Definition")
for abrv in doc.ents:
	print(f"{abrv} \t ({abrv.start}, {abrv.end}) {abrv._.long_form}")

In [ ]:
from transformers import *

tokenizer = AutoTokenizer.from_pretrained('allenai/scibert_scivocab_uncased')
model = AutoModel.from_pretrained('allenai/scibert_scivocab_uncased')

tokenizer = AutoTokenizer.from_pretrained('allenai/scibert_scivocab_cased')
model = AutoModel.from_pretrained('allenai/scibert_scivocab_cased')

# Reading in Cleaned Files Into One (or several) Dataframes

In [17]:
# reading in cleaned files for combining into one dataframe
import boto3
import pandas as pd
import tqdm

dfs = []

missed_files = []

for i in tqdm.tqdm(range(350, 568)):
    try:
        df = pd.read_feather("s3://mt5599/tweets/spanish_tweets_2016_" + str(i) + "_processed_wcontent.feather")
        dfs.append(df)
    except:
        missed_files.append(i)
        continue

100%|██████████| 218/218 [04:48<00:00,  1.32s/it]

In [3]:
!pip install feather-format

Keyring is skipped due to an exception: 'keyring.backends'
Collecting feather-format
  Using cached feather_format-0.4.1-py3-none-any.whl
Requirement already satisfied: pyarrow>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from feather-format) (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.7/site-packages (from pyarrow>=0.4.0->feather-format) (1.21.6)
Installing collected packages: feather-format
Successfully installed feather-format-0.4.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [18]:
# combining cleaned files into one dataframe
import feather

main_df = pd.concat(dfs, axis=0)
main_df.drop_duplicates(inplace=True)
main_df.reset_index(drop=True, inplace=True)

In [19]:
main_df.drop("TweetNumber", inplace=True, axis=1)
main_df

,id,DateTime,coordinates,place,username,user_id,user_location,tweet_content,lang,tweet_clean,place_full_name,place_name,place_type,place_country,place_country_code,coordinates_longitude,coordinates_latitude
0,786411166063063040,2016-10-13 03:40:07+00:00,None,None,LaCuhiu,1643447131,"Buenos Aires, Argentina",Llego la noche en el cole y ella tipo...\ntamy...,es,Llego la noche en el cole y ella tipo... tamyk...,None,None,None,None,None,NaN,NaN
1,781435561093566464,2016-09-29 10:08:50+00:00,"Coordinates(longitude=-58.714401, latitude=-34...","Place(fullName='González Catán, Argentina', na...",LaCuhiu,1643447131,"Buenos Aires, Argentina",Waaa que frío... D:,es,Waaa que frío... D:,"González Catán, Argentina",González Catán,city,Argentina,AR,-58.714401,-34.91004
2,770470166408863744,2016-08-30 03:56:16+00:00,"Coordinates(longitude=-58.714401, latitude=-34...","Place(fullName='González Catán, Argentina', na...",LaCuhiu,1643447131,"Buenos Aires, Argentina",Jisuuuus...,lt,Jisuuuus...,"González Catán, Argentina",González Catán,city,Argentina,AR,-58.714401,-34.91004
3,765282744335228928,2016-08-15 20:23:19+00:00,"Coordinates(longitude=-58.714401, latitude=-34...","Place(fullName='González Catán, Argentina', na...",LaCuhiu,1643447131,"Buenos Aires, Argentina",Ugh falta re poco para mis 18 D':,es,Ugh falta re poco para mis 18 D':,"González Catán, Argentina",González Catán,city,Argentina,AR,-58.714401,-34.91004
4,763045523695800320,2016-08-09 16:13:24+00:00,None,None,LaCuhiu,1643447131,"Buenos Aires, Argentina",Me duele todooo \n#Martes #Aburrida,es,Me duele todooo Martes Aburrida,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46092592,652642515749834752,2015-10-10 00:31:15+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,Bariloche te extrañoooooo,es,Bariloche te extrañoooooo,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
46092593,652642476738654208,2015-10-10 00:31:06+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,"Bariloche bariloche que amargado se te ve, se ...",es,"Bariloche bariloche que amargado se te ve, se ...","Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
46092594,652642231053119488,2015-10-10 00:30:08+00:00,None,None,daniimercado89,751797768,,@chivupower callate chivudo,es,chivupower callate chivudo,None,None,None,None,None,NaN,NaN
46092595,652641780056346624,2015-10-10 00:28:20+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,Ai loviu friend ❤ http://t.co/XSZjgUqyef,pt,Ai loviu friend ❤,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
46092596,652641082996617216,2015-10-10 00:25:34+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,751797768,,Hola hola hola hola hola hola hola hola ahr.,es,Hola hola hola hola hola hola hola hola ahr.,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991

In [20]:
main_df.to_feather("s3://mt5599/tweets/spanish_tweets_2016_processed_wcontent_cleaned_3.feather")

In [21]:
56370600 + 37770304 + 42404868 + 46092597

182638369

# Properties of Combined Datasets

In [ ]:
import pandas as pd

df = pd.read_feather("s3://mt5599/tweets/spanish_tweets_2016_processed_wcontent_0.feather")

In [4]:
# number of tweets total
df.shape

(56458603, 14)

In [5]:
# number of usernames
len(df.username.unique())

89329

In [10]:
pd.set_option('display.max_rows', None)

In [12]:
# number of users from different countries
df.place_country.value_counts(dropna=False)

Argentina                                       55750284
United States                                     152922
Brazil                                            128736
Chile                                              68897
Uruguay                                            55470
Spain                                              36817
Mexico                                             30015
Paraguay                                           29852
Colombia                                           18637
Italy                                              15075
United Kingdom                                     14845
Venezuela                                          14511
Ecuador                                            13180
France                                             12457
Russia                                              9023
Peru                                                8329
Germany                                             6775
Japan                                               5729
Dominican Republic                                  5140
Canada                                              5104
The Netherlands                                     5018
NaN                                                 4124
Greece                                              3590
Jamaica                                             3318
Bolivia                                             2994
Turkey                                              2910
Austria                                             2735
Panama                                              2648
Australia                                           2476
Thailand                                            1931
United Arab Emirates                                1847
Republic of Korea                                   1816
Czech Republic                                      1747
New Zealand                                         1689
Belgium                                             1659
South Africa                                        1630
India                                               1587
Denmark                                             1469
Switzerland                                         1398
Guatemala                                           1335
Taiwan                                              1236
Portugal                                            1096
Poland                                              1072
Kuwait                                              1020
Costa Rica                                          1001
Indonesia                                            992
Nicaragua                                            814
Ireland                                              783
Israel                                               766
Pakistan                                             751
Cuba                                                 740
Egypt                                                738
Norway                                               738
Honduras                                             689
Sweden                                               666
Finland                                              647
Republic of the Philippines                          625
Islamic Republic of Iran                             585
Nigeria                                              562
Malaysia                                             540
Aruba                                                526
Republic of Croatia                                  495
Burkina Faso                                         492
Vietnam                                              421
Romania                                              416
Hong Kong                                            390
Republic of Serbia                                   374
Bahamas                                              374
Morocco                                              366
Bulgaria                                             325
Singapore                                            309
Afghanistan                                          304
Hungary                                              294
Vatican City                                         290
Cyprus                                               258
Papua New Guinea                                     228
Kingdom of Saudi Arabia                              225
El Salvador                                          208
Kazakhstan                                           204
Antarctica                                           203
Cambodia                                             192
Armenia                                              178
Hashemite Kingdom of Jordan                          171
Slovak Republic                                      167
Cayman Islands                                       155
Democratic Republic of Congo                         151
Estonia                                              151
Republic of Slovenia                                 136
Tajikistan                                           133
Ukraine                                              132
Myanmar                                              130
French Polynesia                                     123
                                                     123
Mongolia                                             122
Algeria                                              120
Haiti                                                116
Qatar                                                109
Andorra                                              108
Nepal                                                105
Former Yugoslav Republic of Macedonia                102
Angola                                               102
Lithuania                                            101
Bosnia and Herzegovina                               101
Greenland                                             96
Sudan                                                 91
Kyrgyzstan                                            91
Iceland                                               80
Sint Maarten                                          79
Libya                                                 74
Curaçao                                               73
Tanzania                                              72
Barbados                                              69
Tunisia                                               63
Kenya                                                 61
Puerto Rico                                           61
Niger                                                 60
Trinidad and Tobago                                   59
Ethiopia                                              57
Madagascar                                            56
Brunei                                                56
Latvia                                                53
Mali                                                  51
Luxembourg                                            51
Burundi                                               50
Iraq                                                  48
Turkmenistan                                          48
Republic of Mozambique                                48
Macau                                                 47
Malta                                                 46
Uzbekistan                                            46
Mauritania                                            45
Syria                                                 44
Monaco                                                42
Azerbaijan                                            38
Turks and Caicos Islands                              37
Botswana                                              36
Zambia                                                36
Chad                                                  35
Albania                                               35
Namibia                                               35
Republic of Belarus                                   33
Georgia                                               32
Ghana                                                 32
Lebanon                                               31
Bangladesh                                            30
Cameroon                                              28
Congo Brazzaville                                     27
Uganda                                                27
Saint Martin                                          27
Somalia                                               26
Gibraltar                                             26
Central African Republic                              25
Sri Lanka                                             25
Samoa                                                 25
Antigua and Barbuda                                   24
Guyana                                                24
Yemen                                                 24
Ivory Coast                                           24
Vanuatu                                               24
British Virgin Islands                                24
Senegal                                               23
Fiji                                                  23
French Guiana                                         22
Maldives                                              22
Kosovo                                                22
Oman                                                  21
Zimbabwe                                              21
Belize                                                20
Republic of Mauritius                                 20
Suriname                                              19
Montenegro                                            19
San Marino                                            18
Guadeloupe                                            17
North Korea                                           16
Liechtenstein                                         13
Moldova                                               13
Gabon                                                 12
Malawi                                                11
Martinique                                            10
Sierra Leone                                          10
Bermuda                                                9
Guinea Bissau                                          9
Guinea                                                 8
Liberia                                                8
Falkland Islands (Malvinas)                            8
Solomon Islands                                        7
Gambia                                                 6
Bahrain                                                6
South Georgia and the South Sandwich Islands           6
Saint Lucia                                            6
La Réunion                                             6
Bhutan                                                 5
Benin                                                  5
Togo                                                   5
Saint Kitts and Nevis                                  4
Eritrea                                                4
Saint Barthélemy                                       4
Lesotho                                                4
Federated States of Micronesia                         3
Seychelles                                             3
Tonga                                                  2
Virgin Islands, U.S.                                   2
Rwanda                                                 2
Bonaire, Sint Eustatius and Saba                       2
Dominica                                               2
Guam                                                   1
American Samoa                                         1
Swaziland                                              1
Cape Verde                                             1
Djibouti                                               1
Equatorial Guinea                                      1
Grenada                                                1
Montserrat                                             1
Name: place_country, dtype: int64

# Creating Dataset of Residents and Their Locations

In [ ]:
# creating dictionary to see how many people stay or leave 
import tqdm


#usernames = df.username.unique()

stay_leave = pd.DataFrame(df.username.unique(), columns=["username"])
stay_leave

             username
0         darcena2553
1       LuchoCinqui10
2        Caamicorrea2
3          lucas_teti
4             canadri
...               ...
89324         byCDP88
89325     _arianajara
89326    AldanaCucolo
89327  VioleFriedrich
89328  daniimercado89

[89329 rows x 1 columns]

In [ ]:
# extracting features of users
from multiprocessing import Pool # multithreading

stay_leave["total_tweets"] = None
stay_leave["only_argentina"] = None

def func1(username):
    user_df = df[df.username == username]
    stay_leave.loc[stay_leave.username == username, "total_tweets"] = [user_df.shape[0]] # number of tweets over the year
    stay_leave.loc[stay_leave.username == username, "only_argentina"] = all(user_df.place_country_code == "AR") # number of people who never left the country
    return stay_leave[stay_leave.username==username]

pool = Pool(processes=100)
no_tweets = 0
dfs = []
for result in tqdm.tqdm(pool.imap_unordered(func1, stay_leave.username.unique()),
                        total=len(stay_leave.username.unique())):
    dfs.append(result)

 45%|████▌     | 40253/89329 [9:23:46<9:23:16,  1.45it/s]

In [ ]:
import numpy as np

# number of tweets over the year
#print("mean", np.mean(stay_leave.total_tweets))
#print("max", max(stay_leave.total_tweets))
#print("min", min(stay_leave.total_tweets))
#print("mean", np.std(stay_leave.total_tweets))

stay_leave.total_tweets.describe()

In [ ]:
# number of people who never left the country, or did

stay_leave.only_argentina.value_counts(dropna=False)

In [ ]:
import numpy as np
import tqdm

dates = pd.date_range(start='2015-10-01', end='2016-11-01', freq='MS')

dates_arr = []
for i in range(len(dates)-1):
    dates_arr.append(dates[i:i+2]) 


for username in tqdm.tqdm(range(len(stay_leave))):
    tweeted_all_months = []
    average_tweets_per_month = []
    for i in tqdm.tqdm(range(len(dates_arr))):
        date = dates_arr[i]
        start_date = date[0]
        end_date = date[1]
        mask = (df.username == username) & (df.DateTime > start_date) & (df.DateTime <= end_date)
        tweeted_all_months[i] = tweets_this_month > 0
        average_tweets_per_month[i] = df[mask].shape[0]
        
    # people who tweeted at least once a month
    stay_leave.loc[stay_leave.username == username, "tweeted_all_months"] = all(tweeted_all_months == True)
    
    # number of average tweets per month per user
    stay_leave.loc[stay_leave.username == username, "average_tweets_per_month"] = np.mean(average_tweets_per_month)

In [ ]:
# number of people who tweeted at least once a month
stay_leave.tweeted_all_months.value_counts(dropna=False)

In [ ]:
# number of average tweets per month per user
stay_leave.average_tweets_per_month.value_counts(dropna=False)