In [83]:
!pip install geopy
!pip install feather-format

Collecting geopy
  Using cached geopy-2.3.0-py3-none-any.whl (119 kB)
Collecting geographiclib<3,>=1.52
  Using cached geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

In [6]:
import geopy.distance
import numpy as np
from multiprocessing import Pool # multithreading
import pandas as pd


def distance_helper(row):
    
    if (pd.notna(row[1]["coordinates_latitude"]) &
        pd.notna(row[1]["coordinates_longitude"]) &
        pd.notna(row[1]["gmaps_address"])):
        
        
        tweet_lat = row[1]["coordinates_latitude"]
        tweet_long = row[1]["coordinates_longitude"]
        gmaps_lat = row[1]["gmaps_lat"]
        gmaps_long = row[1]["gmaps_long"]

        tweet_coords = (tweet_lat, tweet_long)
        gmaps_coords = (gmaps_lat, gmaps_long)

        row[1]["distance"] = geopy.distance.geodesic(tweet_coords, gmaps_coords).km

    return row[1]

def distance(df):
    
    df['distance'] = np.nan
    
    pool = Pool(processes=round(len(df.index)/1000))

    result_arr = []
    
    for result in tqdm.tqdm(pool.imap_unordered(distance_helper, df.iterrows()),
                            total=len(df.index)):
        result_arr.append(result)
                
    df = pd.concat(result_arr, axis=1).transpose().sort_index()
                
    return df

In [3]:
import pandas as pd

loc_lookup = pd.read_csv("../../data/loc_lookup.csv")
loc_lookup

,ner_word,gmaps_lat,gmaps_long,gmaps_address
0,Argentina,-38.416097,-63.616672,Argentina
1,Buenos Aires,-34.603684,-58.381559,"Buenos Aires, Argentina"
2,Rosario,-32.958702,-60.693042,"Rosario, Santa Fe Province, Argentina"
3,"Cordoba, Argentina",-31.420083,-64.188776,"Córdoba, Cordoba, Argentina"
4,Brasil,-14.235004,-51.925280,Brazil
...,...,...,...,...
635797,Evita Lima,NaN,NaN,NaN
635798,Evita Fine Arts Museum,NaN,NaN,NaN
635799,Evissa,NaN,NaN,NaN
635800,Evin,NaN,NaN,NaN
635801,Jos Mansur,NaN,NaN,NaN

In [5]:
# reading in cleaned files for combining into one dataframe
import boto3
import pandas as pd
import tqdm
import feather
from time import process_time


#dfs = []

missed_files = []

for i in range(1, 100):
    
    print("starting ", i)
    
    try:
        
        t1_start = process_time()

        
        df = pd.read_feather("s3://mt5599/tweets/spanish_tweets_2016_" + str(i) + "_processed_wcontent_ner.feather")
        df.drop("index", inplace=True, axis=1)
        #dfs.append(df)

        df_loc = pd.merge(df, loc_lookup, how="left", on="ner_word")
        
        #df_loc = df_loc[0:1000]
        
        df_loc = distance(df_loc)

        df_loc.to_feather("s3://mt5599/final/processed_tweets_small_" + str(i) + ".feather")
        
        
        
        t1_stop = process_time()
        print()
        print("elapsed time: ", t1_stop - t1_start)
        print()

    except:
        
        missed_files.append(i)
        continue

starting  0

100%|██████████| 897599/897599 [06:30<00:00, 2296.40it/s]

elapsed time:  488.152636498

In [8]:
wl = df_loc[(pd.notna(df_loc.coordinates_latitude)) & (pd.notna(df_loc.coordinates_longitude)) & (pd.notna(df_loc.gmaps_address))]

wl[["place_full_name", "gmaps_address", "distance"]]

,place_full_name,gmaps_address,distance
17,"Mar del Plata, Argentina","Av. Dehesa, s/n, 28691 Villanueva de la Cañada...",10263.000004
40,"Santa Fe, Argentina","Santa Fe, NM, USA",8954.693094
169,"Buenos Aires, Argentina","Salta, Salta Province, Argentina",1166.637753
174,"Ciudad Autónoma de Buenos Aires, Argentina","Palermo, PA, Italy",10933.542601
178,"Ciudad Autónoma de Buenos Aires, Argentina","Palermo, PA, Italy",10935.524726
...,...,...,...
889667,"Rosario, Argentina","131 Dartmouth St Floor 3, Boston, MA 02116, USA",8412.760749
889753,"Rosario, Argentina","Tampico, Tamaulipas, Mexico",7274.535435
889902,"Rosario, Argentina","85 Archertown Rd, New Egypt, NJ 08533, USA",8216.255637
890043,"Rosario, Argentina","131 Dartmouth St Floor 3, Boston, MA 02116, USA",8412.760749
890058,"Rosario, Argentina","Buenos Aires, Argentina",282.247667

# Tidy Final Datasets

In [ ]:
# reading in cleaned files for combining into one dataframe
import boto3
import pandas as pd
import tqdm
import feather

missed_files = []
files = range(0, 568)
files = [i for i in files if i not in missed_files]
no_files = int(len(files)/4)

# combine 4 dfs from different indices, e.g. 5, 105, 205, 305
# so the size is roughly the same
for i in tqdm.tqdm(range(no_files)):
    select_indices = files[i, no_files + i, 2*no_files + i, 3*no_files + i]
    dfs_to_combine = dfs[select_indices]
    new_df = pd.concat(dfs_to_combine, axis=0, ignore_index=True)
    new_df.to_feather("s3://mt5599/final/processed_tweets_" + str(i) + ".feather")