In [2]:
# uploading raw and cleaned files to S3

import pandas as pd

import boto3
import pandas as pd
from sagemaker import get_execution_role
import tqdm

missed_files = []
for i in tqdm.tqdm(range(305, 568)):
    try:
        obj1 = "spanish_tweets_2016_" + str(i) + ".json"
        obj_loc1 = "../../data/" + obj1
        boto3.Session().resource('s3').Bucket("mt5599").Object("tweets/" + obj1).upload_file(obj_loc1)

        obj2 = "spanish_tweets_2016_" + str(i) + "_processed.feather"
        obj_loc2 = "../../data/" + obj2
        boto3.Session().resource('s3').Bucket("mt5599").Object("tweets/" + obj2).upload_file(obj_loc2)
    except:
        missed_files.append(i)
        continue

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 263/263 [10:12<00:00,  2.33s/it]

In [5]:
import pandas as pd

df_temp = pd.read_json("~/Project/data/handles_combined.json")
df_temp

,id,DateTime,tweet_content,cashtags,coordinates,hashtags,lang,like_count,media,mentioned_users,...,user_profile_image_url,user_profile_banner_url,user_label,place_country,place_country_code,place_full_name,place_name,place_type,coordinates_longitude,coordinates_latitude
0,671493915590057984,2015-12-01 00:59:59,mi fin de semana estuvo cabron,None,"Coordinates(longitude=-67.054105, latitude=18....",None,es,1,None,None,...,https://pbs.twimg.com/profile_images/160177785...,https://pbs.twimg.com/profile_banners/16040915...,None,United States,US,"Bejucos, Puerto Rico",Bejucos,city,-67.054105,18.481387
1,671493915497885696,2015-12-01 00:59:59,Ya me descarge el appüòÅ ahora mati no me va a p...,None,"Coordinates(longitude=-58.346384, latitude=-34...",None,es,1,None,None,...,https://pbs.twimg.com/profile_images/153241012...,https://pbs.twimg.com/profile_banners/22690117...,None,Argentina,AR,"Quilmes, Argentina",Quilmes,city,-58.346384,-34.801165
2,671493915342688256,2015-12-01 00:59:59,@gabyespinony Dejame buscar y te aviso !!!,None,"Coordinates(longitude=-73.3540725, latitude=0....",None,es,0,None,"[User(username='gabyespinony', id=2769738383, ...",...,https://pbs.twimg.com/profile_images/152098656...,None,None,Venezuela,VE,Venezuela,Venezuela,country,-73.354073,0.648837
3,671493914801643520,2015-12-01 00:59:59,Sin dudas la mejor gesti√≥n,None,"Coordinates(longitude=-64.3195, latitude=-31.5...",None,es,0,None,None,...,https://pbs.twimg.com/profile_images/160430215...,https://pbs.twimg.com/profile_banners/43886449...,None,Argentina,AR,"C√≥rdoba, Argentina",C√≥rdoba,city,-64.319500,-31.523576
4,671493914176724992,2015-12-01 00:59:59,Elbo Lita jajajaja que cldo!,None,"Coordinates(longitude=-64.389839, latitude=-33...",None,es,0,None,None,...,https://pbs.twimg.com/profile_images/140897405...,https://pbs.twimg.com/profile_banners/22708841...,None,Argentina,AR,"R√≠o Cuarto, Argentina",R√≠o Cuarto,city,-64.389839,-33.159419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655961,792863655096442880,2016-10-30 23:00:00,"@CFKArgentina con las propiedades de B√°ez,cua...",None,"Coordinates(longitude=-63.2919697, latitude=-3...",None,es,0,None,"[User(username='CFKArgentina', id=138814032, d...",...,https://pbs.twimg.com/profile_images/149981312...,https://pbs.twimg.com/profile_banners/76809874...,None,Argentina,AR,"General San Mart√≠n, Argentina",General San Mart√≠n,city,-63.291970,-32.432099
1655962,792863654274367488,2016-10-30 23:00:00,"Temperatura: 22,4¬∞C S.T√©rmica 22,4¬∞C PR 12,7¬∞C...",None,"Coordinates(longitude=-58.54916667, latitude=-...",None,es,1,None,None,...,https://pbs.twimg.com/profile_images/160486963...,https://pbs.twimg.com/profile_banners/47917531...,None,Argentina,AR,"Ciudad del Libertador General San Mart√≠n, Arge...",Ciudad del Libertador General San Mart√≠n,city,-58.549167,-34.535278
1655963,792863654089723904,2016-10-30 23:00:00,"que ondon Ram√≥n con el camar√≥n, que hongo joro...",None,"Coordinates(longitude=-97.43391558, latitude=3...",None,es,0,None,None,...,https://pbs.twimg.com/profile_images/839951285...,https://pbs.twimg.com/profile_banners/80163931...,None,United States,US,"Texas, USA",Texas,admin,-97.433916,30.346318
1655964,792863653401722880,2016-10-30 23:00:00,Extra√±aba esto ‚òÄ @ Nacimiento. Regi√≥n Bio Bio ...,None,"Coordinates(longitude=-72.6704209, latitude=-3...",None,es,0,None,None,...,https://pbs.twimg.com/profile_images/760588784...,https://pbs.twimg.com/profile_banners/21230792...,None,Chile,CL,"Nacimiento, Chile",Nacimiento,city,-72.670421,-37.501660
1655965,792863653129285632,2016-10-30 23:00:00,B√°rbara y Adara a la calle ya #DBT8GH17,None,"Coordinates(longitude=-8.0037342, latitude=42....",['DBT8GH17'],es,4,None,None,...,https://pbs.twimg.com/profile_images/136485738...,https://pbs.twimg.com/profile_banners/10150000...,None,Spain,ES,"Ourense, Spain",Ourense,city,-8.003734,42.288179

In [ ]:
! pip install feather-format

In [ ]:
import feather

df_temp.to_feather("../../data/handles_combined.feather")

In [2]:
import pandas as pd

import boto3
import pandas as pd
from sagemaker import get_execution_role
import tqdm

boto3.Session().resource('s3').Bucket("mt5599").Object("tweets/handles_combined.feather").upload_file("../../data/handles_combined.feather")

In [5]:
# reading in cleaned files for combining into one dataframe

dfs = []

missed_files = []

for i in tqdm.tqdm(range(0, 568)):
    try:
        df = pd.read_feather("../../data/spanish_tweets_2016_" + str(i) + "_processed.feather")
        dfs.append(df)
    except:
        missed_files.append(i)
        continue

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 568/568 [00:20<00:00, 27.51it/s]

In [6]:
# combining cleaned files into one dataframe

main_df = pd.concat(dfs, axis=0)
main_df

,id,DateTime,coordinates,place,username,user_location,place_full_name,place_name,place_type,place_country,place_country_code,coordinates_longitude,coordinates_latitude
0,676710697422725120,2015-12-15 10:29:37+00:00,"Coordinates(longitude=-57.5592828, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5592828,-38.0589404
1,674648800020033536,2015-12-09 17:56:22+00:00,"Coordinates(longitude=-57.5548276, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5548276,-38.059752
2,671493815635746816,2015-12-01 00:59:36+00:00,"Coordinates(longitude=-57.5548158, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5548158,-38.0597386
3,669967909456879616,2015-11-26 19:56:11+00:00,"Coordinates(longitude=-57.5591638, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5591638,-38.0589791
4,668096786893021184,2015-11-21 16:01:01+00:00,"Coordinates(longitude=-57.5548388, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5548388,-38.0597546
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28710,652645146643857408,2015-10-10 00:41:43+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
28711,652642515749834752,2015-10-10 00:31:15+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
28712,652642476738654208,2015-10-10 00:31:06+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
28713,652641780056346624,2015-10-10 00:28:20+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
28714,652641082996617216,2015-10-10 00:25:34+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991

In [14]:
main_df.drop_duplicates(inplace=True)
main_df.reset_index(drop=True, inplace=True)
main_df.reset_index(inplace=True)

In [8]:
main_df.place_country_code.value_counts(dropna=False)

AR    55750284
US      152869
BR      128736
CL       68897
UY       55470
        ...
DJ           1
GQ           1
GD           1
MS           1
SZ           1
Name: place_country_code, Length: 213, dtype: int64

In [15]:
main_df

,index,id,DateTime,coordinates,place,username,user_location,place_full_name,place_name,place_type,place_country,place_country_code,coordinates_longitude,coordinates_latitude
0,0,676710697422725120,2015-12-15 10:29:37+00:00,"Coordinates(longitude=-57.5592828, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5592828,-38.0589404
1,1,674648800020033536,2015-12-09 17:56:22+00:00,"Coordinates(longitude=-57.5548276, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5548276,-38.059752
2,2,671493815635746816,2015-12-01 00:59:36+00:00,"Coordinates(longitude=-57.5548158, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5548158,-38.0597386
3,3,669967909456879616,2015-11-26 19:56:11+00:00,"Coordinates(longitude=-57.5591638, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5591638,-38.0589791
4,4,668096786893021184,2015-11-21 16:01:01+00:00,"Coordinates(longitude=-57.5548388, latitude=-3...","Place(fullName='Mar del Plata, Argentina', nam...",darcena2553,No soy unica soy diferente,"Mar del Plata, Argentina",Mar del Plata,city,Argentina,AR,-57.5548388,-38.0597546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56458598,56458598,652645146643857408,2015-10-10 00:41:43+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
56458599,56458599,652642515749834752,2015-10-10 00:31:15+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
56458600,56458600,652642476738654208,2015-10-10 00:31:06+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
56458601,56458601,652641780056346624,2015-10-10 00:28:20+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991
56458602,56458602,652641082996617216,2015-10-10 00:25:34+00:00,"Coordinates(longitude=-58.447767, latitude=-34...","Place(fullName='Almirante Brown, Argentina', n...",daniimercado89,,"Almirante Brown, Argentina",Almirante Brown,city,Argentina,AR,-58.447767,-34.90991

In [16]:
import feather

main_df.to_feather("../../data/spanish_tweets_2016.feather")

boto3.Session().resource('s3').Bucket("mt5599").Object("tweets/spanish_tweets_2016.feather").upload_file("../../data/spanish_tweets_2016.feather")